header{
    background-color: yellow;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: black;
}

.footer{

    background-color: #3F4D59;
    color: white;
    height: auto
}

.footer a {
    color: white;
}

.logo{
    height: 120px;
    width: 120px;
}

.productos{
    margin: 30px;
    padding: 5px 10px 20px 10px;
    border-radius: 2px;
    box-shadow: 0px 4px 6px 4px #E9E6EB;
    height: auto;
    width: 200px;
}


.categoria{
    background-color: #EA5D52;
    width: 250px;
}

.catlist{
    list-style: none;
    
}

.catlist a:hover{
    color: red;
}

.footer li{
    margin-bottom: 7px;
    list-style: none;
}

.search{
    width: 95%;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

}

.terminos{
    margin: 30px 40px 40px;
}

.terminos h4{
    margin-left: 30px;
}

.terminos h5{
    margin-left: 30px;
}

.termlist{
    margin-top: 15px;
}

.termlist li{
    margin-top: 14px;
}


#correo {
    width: 80% !important;
    text-align: center;
}