
@import '../base/variables';
@import '../base/maps';

footer{ 

    background-color: map-get($colores, bg-footer );
    color: map-get($colores, footer1 );
    height: auto;
    
    a{
        color: map-get($colores, footer2 );
        &:link, &:visited, &:active {
            text-decoration:none;
        }
    
    }
    
    div {
        li {
            margin-bottom: 7px;
            list-style: none;


        }
    }

    .logo{
        height: 140px;
        width: 140px;

        @media (max-width: 768px) {
            
            .logo{
                height: 180px;
                width: 180px;
            }
        }
    }
    
    .copyright{
        background-color: map-get($colores ,bg-copy);
    }

    .horario {
        color: rgb(155, 151, 151);
    }


    @media (max-width: 768px) {

        height: auto;
        
        .logo{
            height: 180px;
            width: 180px;
        }
    }

    }
    



