
@import '../base/maps';

header{
    .search{
        width: 95%;
        height: 50px;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
    
    }
    
    background-color: map-get($colores, primario );
    .logo{
        height: 140px;
        width: 140px;
    }

    
    
}