@import '../base/maps';
@import '../base/mixin';

main{

    div{

        ul{
            li{
                list-style: none;
                padding-left: 20px;
                margin-bottom: 10px;
                font-size: 14px;
                a{
                    &:link, &:visited, &:active{
                        text-decoration:none;
                        color: black;
                    
                    }
                    &:hover{
                        color: red;
                    }
                }

            }
            .categoria{

                width: 250px;
                padding: 8px 0 8px 20px;
                color: white;
            }
            
            
        }


    }
    section{

        a{
            &:link, &:visited, &:active{
                text-decoration:none;
                color: black;
            
            }
        }


        .productos{
            @include products;
            transition: all 0.3s;
            &:hover{
              transform: scale(1.15)  
            }
        }
        
        div{
            .img-thumbnail{
                width: 150px;
                height: 150px;
            }
        }

        .description{
            display: flex;
            flex-direction: column;
            margin: 10px;
        }

    }


}